// Modified by Princeton University on June 9th, 2015
// ========== Copyright Header Begin ==========================================
//
// OpenSPARC T1 Processor File: pnr_gatesim_sdf.config
// Copyright (c) 2006 Sun Microsystems, Inc.  All Rights Reserved.
// DO NOT ALTER OR REMOVE COPYRIGHT NOTICES.
//
// The above named program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public
// License version 2 as published by the Free Software Foundation.
//
// The above named program is distributed in the hope that it will be
// useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// General Public License for more details.
//
// You should have received a copy of the GNU General Public
// License along with this work; if not, write to the Free Software
// Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.
//
// ========== Copyright Header End ============================================
// 1 core without I/O testbench config file for sims

<pnr_gatesim_sdf>
    -model=pnr_gatesim_sdf
    -toplevel=cmp_top
    //-flist_vhdl=/users/fournier/main/corev_polara/be/gf22/Flist.fll
    -flist=/users/fournier/main/corev_polara/be/gf22/Flist.pnr_gatesim

    -config_rtl=POLARA_GATESIM
    //-config_rtl=PITON_ASIC_RTL
    -config_rtl=USE_FLL
    -config_rtl=USE_SDF
    -config_rtl=POST_PNR

    -config_rtl=__ICARUS__
    //-config_rtl=PITONSYS_IOCTRL
    -config_rtl=CIOP_REAL_IOB
    -config_rtl=DISABLE_ALL_MONITORS
    //-config_rtl=MINIMAL_MONITORING

    //-config_rtl=SYNC_MUX

    -config_rtl=SYNTHESIZABLE_BRAM
    -config_rtl=IVCS_INIT_MEM
    //-config_rtl=IVCS_FAST_FUNC
    -config_rtl=IVCS_CYCLE_SIM
    //-config_rtl=IVCS_NO_SPEC_CHK



    // SDF annotation
    //-vcs_build_args=+allmtm
    -vcs_build_args=+neg_tchk
    //-vcs_build_args=-xlrm retain_with_delayed_sig 
    //-vcs_build_args=-lca 
    //-vcs_build_args=-sdfretain
    //-vcs_build_args=+csdf+precompile
    -sim_run_args=+typdelays
    //-vcs_build_args=-add_seq_delay 500ps // For chipset signals

    // Uncomment if not using SDF
    //-vcs_build_args=+nospecify
    //-vcs_build_args=+no_notifier
    //-vcs_build_args=-negdelay
    //-vcs_build_args=+delay_mode_unit

    // Multi-core
    -vcs_build_args=-full64
    -vcs_build_args=-fgp
    -vcs_build_args=-j32
    -sim_run_args=-fgp=num_threads:60

    -vcs_build_args="-sverilog +systemverilogext+.sv -ntb_opts uvm-1.1 +vpi"
    -vcs_build_args=-timescale=1ps/1ps
    -rv64
    -rv64_platform
    -config_rtl=PITON_ARIANE
    -config_rtl=PITON_RV64_PLATFORM
    -config_rtl=PITON_RV64_DEBUGUNIT
    -config_rtl=PITON_RV64_CLINT
    -config_rtl=PITON_RV64_PLIC
    -config_rtl=WT_DCACHE

    // No scan chains
    -config_rtl=NO_SCAN

    -config_l1i_size=16384       // default
    -config_l1i_associativity=4     // default

    -config_l1d_size=8192           // default
    -config_l1d_associativity=4     // default

    -config_l15_size=8192           // default
    -config_l15_associativity=4     // default

    -config_l2_size=65536           // default
    -config_l2_associativity=4      // default

    -vlt_build_args=-DSYNC_MUX

    -rtl_timeout=50000
    -sim_run_args=+spc_pipe=0
    -sim_run_args=+doerrorfinish
    -sim_run_args=+dowarningfinish
    -vcs_build_args=-Xstrict=1 -notice
    -vcs_build_args=-P $DV_ROOT/tools/pli/iop/bwioj.tab // needed for fake_l2
    -vcs_build_args=-P $DV_ROOT/tools/pli/socket/bwsocket_pli.tab
    -vcs_build_args=-P $DV_ROOT/tools/pli/mem/bwmem_pli.tab
    -vcs_build_args=-lsocket_pli -liob -lmem_pli
    -vcs_build_args=+rad
    -post_process_cmd="regreport -1 > status.log"
    -post_process_cmd="perf > perf.log"
    -asm_diag_root=$DV_ROOT/verif/diag
    -image_diag_root=$DV_ROOT/verif/diag
    -midas_args=-mmu=niagara
    -sim_run_args=+wait_cycle_to_kill=10
    -vcs_cm_args=line+tgl+cond+branch+fsm
</pnr_gatesim_sdf>
