[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = https://github.com/pulp-platform/ariane.git
[submodule "aws"]
	path = piton/design/aws
	url = https://github.com/PrincetonUniversity/openpiton-aws.git
[submodule "piton/design/chip/tile/ara"]
	path = piton/design/chip/tile/ara
	url = https://github.com/PolyMTL-Gr2m/ara.git
	branch = core-v-polara-apu
